@import url(reset.css);
@import url(setcolors.css);

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Roboto, sans-serif;
    background-color: var(--primary-bg-color-dark);
}

.mt-mb-50{
    margin-top: 50px;
    margin-bottom: 50px;
}

.text{
    font-weight: 600;
    font-size: 1.5rem;
}

a.link-default{
    text-decoration: none;
    color: var(--primary-color-dark);
}

.nav-style{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.style-nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-bottom: 2px solid var(--primary-border-color-dark);
    height: 80px;
    background-color: var(--primary-bg-color-dark);
}

.style-nav-ul li{
    color: var(--primary-color-dark);
    border: 2px solid var(--primary-color-dark);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 25px var(--primary-color-dark);
    transition: 1s ease;
}

.style-nav-ul li a{
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    transition: 1s ease;
}

.style-nav-ul li:hover{
    background-color: var(--primary-color-dark);
}

.style-nav-ul li:hover a{
    color: var(--text-color-dark);
}

/* -------------------------------------------------------------------------------- */

.second{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 150px;
    margin-bottom: 150px;
}

#inicio{
    scroll-margin-top: 150px;
}

.animation-p{
    display: inline-block;

    color: var(--primary-color-dark);
    font-size: 1.5rem;
    font-weight: 700;
    border-right: 3px solid var(--primary-color-dark);
    white-space: nowrap;
    overflow: hidden;

    width: 0;
    animation: cursor 0.7s step-end infinite, typing 15s steps(60, end) infinite;
}

@keyframes cursor{
    0%, 100%{
        border-right-color: var(--primary-color-dark);
    }

    50%{
        border-right-color: transparent;
    }
}

@keyframes typing{
    0%{
        width: 0;
    }

    20%{
        width: 43ch;
    }

    70%{
        width: 43ch;
    }

    90%{
        width: 0;
    }

    100%{
        width: 0;
    }
}

.img-photo img{
    border-radius: 10px;
}

.img-photo{
    opacity: 0;
    transform: translateY(40px);
    animation: aparecerImagem 2s ease-out forwards;
}

@keyframes aparecerImagem{
    to{
        opacity: 0.8;
        transform: translateY(0);
    }
}

/* -------------------------------------------------------------------------------- */

.third{
    border-bottom: 2px solid var(--primary-color-dark);
}

.icons-redes ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    gap: 20px;
    border-top: 2px solid var(--primary-color-dark);
}

.icons-redes ul li{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    color: var(--primary-color-dark);
    border: 2px solid var(--primary-color-dark);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 25px var(--primary-color-dark);
    width: 50px;
    cursor: pointer;
    transition: 1s ease;
}

.icons-redes ul li a{
    color: var(--primary-color-dark);
    transition: 1s ease;
}

.icons-redes li:hover{
    background-color: var(--primary-color-dark);
}

.icons-redes ul li:hover a{
    color: var(--text-color-dark);
}

.icons-ferramentas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    color: var(--primary-color-dark);
}

.icons-ferramentas ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 50px;
    margin-bottom: 50px;
}

.icons-ferramentas ul li{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50rem;
}

.icon-circle{
    transition: transform 0.3s ease;
    overflow: hidden;
}

#js{
    box-shadow: 0 0 25px #FFDF00;
    border: 2px solid #FFDF00;
}

#html{
    box-shadow: 0 0 25px #FF4B00;
    border: 2px solid #FF4B00;
}

#css{
    box-shadow: 0 0 25px #2196F3;
    border: 2px solid #2196F3;
}

#nodejs{
    box-shadow: 0 0 25px #83CD28;
    border: 2px solid #83CD28;
}

#vscode{
    box-shadow: 0 0 25px #29B6F6;
    border: 2px solid #29B6F6;
}

#canva{
    box-shadow: 0 0 25px #595AE5;
    border: 2px solid #595AE5;
}

#figma{
    box-shadow: 0 0 25px white;
    border: 2px solid white;
}

#excel{
    box-shadow: 0 0 25px #2E7D32;
    border: 2px solid #2E7D32;
}

#word{
    box-shadow: 0 0 25px #1565C0;
    border: 2px solid #1565C0;
}

#pwp{
    box-shadow: 0 0 25px #FF5722;
    border: 2px solid #FF5722;
}

#js:hover,
#html:hover,
#css:hover,
#nodejs:hover,
#vscode:hover,
#canva:hover,
#figma:hover,
#excel:hover,
#word:hover,
#pwp:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* -------------------------------------------------------------------------------- */

.about-me{
    color: var(--primary-color-dark);
    border-bottom: 2px solid var(--primary-color-dark);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#sobre-mim{
    scroll-margin-top: 50px;
}

/* left-container */

.info-about-me{
    border: 2px solid var(--primary-color-dark);
    padding: 40px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: justify;
    width: 800px;
    height: 400px;
    box-shadow: 0 0 25px var(--primary-color-dark);
}

.info-curriculo-certificado ul li a{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
    width: 100%;
}

.info-curriculo-certificado ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;
}

.info-curriculo-certificado ul li a{
    text-decoration: none;
    color: var(--primary-color-dark);
    border: 2px solid var(--primary-color-dark);
    padding: 10px;
    box-shadow: 0 0 25px var(--primary-color-dark);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.info-curriculo-certificado ul li, .info-curriculo-certificado li a{
    transition: 0.5s ease;
}

.info-curriculo-certificado ul li:hover{
    background-color: var(--primary-color-dark);
    cursor: pointer;
    border-radius: 10px;
}

.info-curriculo-certificado li:hover a{
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
}

.info-idiomas{
    border: 2px solid var(--primary-color-dark);
    border-radius: 10px;
    box-shadow: 0 0 25px var(--primary-color-dark);
}

.info-idiomas ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 50px;
    margin-bottom: 0px;
    padding: 10px;
}

/* -------------------------------------------------------------------------------- */
/* right-container */

.right-container{
    border: 2px solid var(--primary-color-dark);
    padding: 40px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: justify;
    box-shadow: 0 0 25px var(--primary-color-dark);
    margin-bottom: 50px;
    width: 800px;
    height: 1030px;
}

.linha-horizontal{
    width: 700px;
    border: 1px solid var(--primary-color-dark);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -------------------------------------------------------------------------------- */

.projects{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 20px;
}

#projects{
    scroll-margin-top: 50px; /* ---------- */
}

.project-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-bottom: 100px;
    margin-top: 100px;
    width: 400px;
    height: 550px;
    border: 2px solid var(--primary-color-dark);
    border-radius: 10px;
    box-shadow: 0 0 25px var(--primary-color-dark);
    color: var(--primary-color-dark);
}

.description{
    position: absolute;
    top: 65%;
    border: 2px solid var(--primary-color-dark);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 25px var(--primary-color-dark);
}

.tecnologia{
    position: absolute;
    top: 85%;
    border: 2px solid var(--primary-color-dark);
    box-shadow: 0 0 25px var(--primary-color-dark);
    padding: 5px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

.link-github{
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--primary-color-dark);
    border: 2px solid var(--primary-color-dark);
    width: 500px;
    margin: auto;
    box-shadow: 0 0 25px var(--primary-color-dark);
    border-radius: 10px;
    margin-bottom: 50px;
}

.link-github p{
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
}

.link-github p a{
    text-decoration: none;
    color: var(--primary-color-dark);
}

.link-github p a:hover{
    transition: 1s ease;
    color: rgb(255, 255, 255);
}

/* -------------------------------------------------------------------------------- */

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    font-family: Roboto;
    border-top: 2px solid var(--primary-color-dark);
    border-bottom: 2px solid var(--primary-color-dark);
}

.contatos{
    margin-top: 50px;
    color: var(--primary-color-dark);
}

.contatos h1{
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
}

.contatos p{
    text-align: center;
    font-size: 1rem;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.social-media ul li{
    font-size: 1.5rem;
}

.social-media ul li a{
    text-decoration: none;
    color: var(--primary-color-dark);
}

.social-media ul li a:hover{
    color: white;
    transition: 1s ease;
}

.banner-email p{
    text-align: center;
    color: var(--primary-color-dark);
    border: 2px solid var(--primary-color-dark);
    box-shadow: 0 0 25px var(--primary-color-dark);
    border-radius: 50px;
    padding: 20px;

    transition: 1s ease;
    overflow: hidden;
}

.banner-email p:hover{
    transform: scale(1.1);
    cursor: pointer;
}